.link {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 4rem;
}

ul {
    display: flex;
    justify-content: space-around;
    padding-left: 40px;
    padding-inline-start: 0;
}

.navlink {
    text-decoration: none;    
    background-color: #6c08f4;
    color: #acacac;
    padding: 0.5rem;
    border-radius: 10%;
}

li {
    list-style: none;
    font-size: 2rem;
}

.active {
    font-weight: bold;
}

.header {
    border: 3px solid;
    border-radius: 5%;
    margin: 1rem;
    background-color: #acacac;
}

@media screen and (max-width: 540px) {
    h1 {
        font-size: 2rem;
    };

    li {
        font-size: 0.75rem;
    };
    
     ul {
         padding-left: 10px;
     }
}